* {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
div {
  display: inline-block;
  background-color: red;
  height: 39vh;
}
#left-top {
  width: 27vw;
  margin-bottom: 22vh;
  margin-right: 11.9vw;
}
#left-bottom {
  width: 27vw;
  margin-right: 11.9vw;
}
#right-top {
  width: 60vw;
  margin-bottom: 22vh;
}
#right-bottom {
  width: 60vw;
}
