* {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
div {
  display: inline-block;
  height: 99.6vh;
}
#green {
  background-color: green;
  width: 33.33vw;
}
#white {
  width: 33.33vw;
}
#orange {
  background-color: orange;
  width: 33.33vw;
}
