* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  width: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

.nav-btn {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: goldenrod;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

h1 {
  color: white;
}

h1 span {
  color: goldenrod;
}

.geeks-world {
  background-color: salmon;
  color: #fafafa;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
